@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.025em;
}
*, ::after, ::before {
  box-sizing: border-box;
}

body{
  padding: 10px;
}

button,.a-btn {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  background: #FF6000;
  border: none;
  border-radius: 8px;
  cursor: pointer;  
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}
button:hover,.a-btn:hover {
  background: #BF4800;
}

button:active,.a-btn:active {
  background: #FF904C;
}
button:focus,.a-btn:focus {
  box-shadow: 0px 0px 0px 3px rgba(108, 132, 250, 0.2);
}
button:disabled,.a-btn-disabled {
  cursor: default;
  opacity: 0.38;
  pointer-events: none;
}

button[class*=a-btn-outline-],.a-btn[class*=a-btn-outline-]{
  padding: 10px 14px;
  border: 2px solid #FF6000;
}


/* icon */
button.icon, .a-btn.icon{
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
button.icon>i,.a-btn.icon>i{
  letter-spacing: normal;
  height: 24px; 
  width: 24px;
  font-size: 20px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
button.icon.end>i, .a-btn.icon.end>i{
  margin-left: 8px;
}
button.icon.start>i, .a-btn.icon.start>i{
  margin-right: 8px;
}
/* icon */




/* a-btn-small */
.a-btn.a-btn-small{
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
/* a-btn-small */



/* a-btn-primary */
.a-btn-primary {
  background: #FF6000;
}
.a-btn-primary:hover {
  background: #BF4800;
}
.a-btn-primary:active {
  background: #FF904C;
}

.a-btn-outline-primary {
  background: none;
  color: #FF6000;
}
.a-btn-outline-primary:hover {
  background: #FFEFE5;
}
.a-btn-outline-primary:focus {
  background: #FFEFE5;
}
.a-btn-outline-primary:active {
  background: none;
  color: #FF904C;
  border-color: #FF904C;;
}
/* a-btn-primary */

/* a-btn-variant */
.a-btn-variant {
  background: #FFEFE5;
  color:#FF6000;
}
.a-btn-variant:hover {
  background: #BF4800;
}
.a-btn-variant:active {
  background: #FF904C;
}

/* a-btn-variant */



/* a-btn-solid */
.a-btn-solid {
  background: #f0f0f0;
  color: #212121;
}
.a-btn-solid:hover {
  background: #f0f0f0;
}
.a-btn-solid:active {
  background: #f0f0f0;
}
/* a-btn-solid */


/* a-btn-secondary */
.a-btn-secondary {
  background: #6B83FA;
}
.a-btn-secondary:hover {
  background: #5365BF;
}
.a-btn-secondary:active {
  background: #99AAFF;
}
/* a-btn-secondary */



/* a-btn-danger */
.a-btn-danger {
  background: #FA0000;
}
.a-btn-danger:hover {
  background: #BF0000;
}
.a-btn-danger:active {
  background: #FF4C4C;;
}
/* a-btn-danger */


/* a-btn-success */
.a-btn-success {
  background: #008A09;
}
.a-btn-success:hover {
  background: #006907;
}
.a-btn-success:active {
  background: #36B23E;;
}
/* a-btn-success */




